<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <mat-card>
    <div>
      <mat-form-field>
        <input id="email" name="email" [(ngModel)]="model.email" matInput placeholder="Email" required appEmailAlreadyInUse
          #emailModel="ngModel">
        <mat-error *ngIf="emailModel.invalid">
          <div *ngIf="emailModel.errors.required">
            Email is required.
          </div>
          <div *ngIf="emailModel.errors.emailAlreadyInUse">
            In use mate!
          </div>
        </mat-error>

        <!-- autocomplete email
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete> -->


      </mat-form-field>
    </div>


    <div>
      <mat-form-field>
        <input id="password" name="password" matInput (keyup.enter)="login()" [(ngModel)]="model.password" placeholder="Password"
          type="password" required>
        <!-- <mat-error *ngIf="password.invalid">{{passwordValidationMessage}}</mat-error> -->
      </mat-form-field>
    </div>

    <div>
      <button mat-raised-button (click)="login()">Submit</button>
    </div>

  </mat-card>
</form>
